$card-size: 7rem;

html {
  height: 100%;
}

body {
  background: linear-gradient(300deg, #c7a008, #ffcb05);
}

header {
  h1 {
    text-align: center;
    font-size: 3rem;
    color: black;
    margin: 1rem;
    font-family: "Press Start 2P", cursive;
    color: black;
    text-shadow: 2px 2px 5px #808080;
  }
  #game-details {
    max-width: 45rem;
    margin: 0 auto 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    #reset:hover {
      transform: rotate(360deg);
      transition: all 0.5s linear;
    }
  }
}

#game-board {
  max-width: 45rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;

  .card {
    background: repeating-linear-gradient(
      45deg,
      #1d2c5e,
      #1d2c5e 10px,
      #306cb4 0,
      #306cb4 20px
    );
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 1rem;
    margin: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease-out;

    > img {
      visibility: hidden;
    }
    &.card_rotate {
      transform: rotateY(180deg);
    }
    .image_reveal {
      visibility: visible;
    }
  }
}
